<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>deletePost</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.deletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createPost</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.createPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameCheckServlet</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.UsernameCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signoutServlet</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.signoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPost</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.searchPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registeredUsersServlet</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.registeredUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get10Posts</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.get10Posts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailCheckServlet</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.EmailCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSessions</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.getSessions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showComments</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.showComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRating</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.updateRating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRating</servlet-name>
        <servlet-class>gr.csd.uoc.cs359.winter2020.photobook.servlets.getRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePost</servlet-name>
        <url-pattern>/deletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createPost</servlet-name>
        <url-pattern>/createPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameCheckServlet</servlet-name>
        <url-pattern>/UsernameCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signoutServlet</servlet-name>
        <url-pattern>/signoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPost</servlet-name>
        <url-pattern>/searchPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registeredUsersServlet</servlet-name>
        <url-pattern>/registeredUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get10Posts</servlet-name>
        <url-pattern>/get10Posts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheckServlet</servlet-name>
        <url-pattern>/EmailCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSessions</servlet-name>
        <url-pattern>/getSessions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showComments</servlet-name>
        <url-pattern>/showComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRating</servlet-name>
        <url-pattern>/updateRating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRating</servlet-name>
        <url-pattern>/getRating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
